@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

h1 {
  font-size: var(--text-h1);
  font-weight: var(--text-h1--font-weight);
}

h2 {
  font-size: var(--text-h2);
  font-weight: var(--text-h2--font-weight);
}

body {
  @apply m-0;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: var(--text-body);
  font-weight: var(--text-body--font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

caption {
  font-size: var(--text-caption);
  font-weight: var(--text-caption--font-weight);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme {
  --text-h1: 24px;
  --text-h1--font-weight: 700;
  --text-h2: 20px;
  --text-h2--font-weight: 700;
  --text-body: 16px;
  --text-body--font-weight: 500;
  --text-caption: 13px;
  --text-caption--font-weight: 400;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #0066ff;
  --color-secondary: #666666;
}
