@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

h1 {
  font-size: var(--text-h1);
  font-weight: var(--text-h1--font-weight);
}

h2 {
  font-size: var(--text-h2);
  font-weight: var(--text-h2--font-weight);
}

body {
  @apply m-0;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: var(--text-body);
  font-weight: var(--text-body--font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: var(--text-caption);
  font-weight: var(--text-caption--font-weight);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme {
  --text-h1: 24px;
  --text-h1--font-weight: 500;

  --text-h2: 16px;
  --text-h2--font-weight: 500;

  --text-button: 20px;
  --text-button--font-weight: 700;

  --text-in-progress: 20px;
  --text-in-progress--font-weight: 600;

  --text-waiting: 20px;
  --text-waiting--font-weight: 500;

  --text-sub: 13px;
  --text-sub--font-weight: 400;

  --text-sub2: 15px;
  --text-sub2--font-weight: 400;

  --text-box: 16px;
  --text-box--font-weight: 500;

  --text-box2: 14px;
  --text-box2--font-weight: 400;

  --color-status-pass: #28c76f;
  --color-status-fail: #ea5455;
  --color-status-pending: #ff9f43;
  --color-status-progress: #69c5ff;
  --color-status-inactive: #a8aaac;

  --color-text-black: #1a1a1a;
  --color-text-gray: #858585;
  --color-text-white: #ffffff;

  --color-bg-surface: #f1f1f1;
  --color-bg-white: #ffffff;
  --color-bg-green: #f3fbee;

  --color-logo-gray: #d9d9d9;
  --color-logo-white: #ffffff;

  --color-icon-gray: #b4b4b4;

  --color-primary-main: #637457;
}
